/* Global */

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font_primary);
  font-style: normal;
  background-color: #fff;
  overflow-x: hidden;
}

/* Skip-link */

.skip-link {
  display: none;
}
