@charset "UTF-8";
/*
* Style utilisé uniquement pour la mise en place
* A refacto :)
*/
/* Navigation
--------------------------------------------- */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Menu principal */
/* 
* Sub Menu : base de travail à affiner
*/
/* !important car l'image de fond est injectée en style en ligne */
/* Vidéo Home */
#video-home {
  width: 100%;
}

/* Slider Home */
.slider {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
}

.slider-main .slider-main-item ul {
  top: 100%;
  z-index: -1;
}

.slider-main .slider-main-item.active ul {
  opacity: 1;
  z-index: 2;
}

/* Agenda semaine Home */
#agenda-semaine-home .tribe-common .tribe-common-h--alt {
  display: none;
}

#agenda-semaine-home .tribe-events-pro .tribe-events-widget-events-week__view-more,
#agenda-semaine-home .tribe-events-pro .tribe-events-pro-week-mobile-events__event-time-separator,
#agenda-semaine-home .tribe-events-pro .tribe-events-pro-week-mobile-events__event-featured-image-link {
  display: none;
}

/* Helpers */
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto !important;
}

.full-img {
  width: 100%;
}

.full-img img {
  width: 100%;
}

#agenda-list {
  width: 100%;
  max-width: 1380px !important;
  display: flex;
}

#agenda-list .sidebar-left-listing-events {
  width: 25%;
}

#agenda-list .tribe-events-pro-photo.affiche {
  width: 75%;
}

#agenda-list .tribe-events-pro-photo.affiche .affiche-item {
  max-width: 400px;
}

#agenda-filters .tribe-filter-bar__filters-slider-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#agenda-filters .tribe-filter-bar__filters-container {
  width: 100%;
}

#agenda-filters .tribe-filter-bar-c-filter {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

#agenda-filters .tribe-filter-bar__filters {
  border: 1px solid white;
}

#site-header.spectacles .site-navigation.agenda-list,
#site-header.edito .site-navigation.agenda-list {
  margin-bottom: 0;
}

#navigation-container.sticky .site-navigation.agenda-list {
  margin-bottom: 0;
}

/*# sourceMappingURL=custom-style.css.map */

/*# sourceMappingURL=custom-style.css.map */
