/* #agenda-list-header-block / Page Agenda */

#agenda-list-header {
  background-color: #071f5b;

  // Code d'Arnaud
  .cover-title {
    grid-area: cover-title;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: #f7fe70;
    margin-bottom: 32px;
    max-width: 329px;
  }

  .tribe-events-header {
    flex-direction: column-reverse !important;
    align-items: initial;
    row-gap: 12px;
    padding-bottom: 0;
  }

  .tribe-events-c-events-bar,
  .tribe-events-header__top-bar {
    margin: 0;
  }

  .choix-date-agenda {
    display: none;
  }

  /* Boutton date et filtre */
  .tribe-events-c-top-bar__datepicker-button,
  .tribe-events-c-events-bar__filter-button-container {
    padding: 12px 10px;
    border: 1px solid #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    margin: 0;
  }

  :is(.tribe-events-c-top-bar__datepicker-button--open) {
    border: 1px solid #f7fe70;
    color: #f7fe70;
  }

  :is(.tribe-events-c-top-bar__datepicker-button--open)
    ~ .tribe-events-c-top-bar__datepicker-container {
    min-height: 400px;
    position: relative;
    width: 100%;
    display: inline-block;
  }

  .datepicker-orient-bottom {
    width: 100%;
  }

  /* bouton filtre */
  .tribe-events-c-events-bar__filter-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    svg {
      width: 18px;
      height: 10px;
    }
  }

  :is(.tribe-events-c-events-bar__filter-button-container.active) {
    border: 1px solid #f7fe70;
    color: #f7fe70;

    svg {
      transform: scaleY(-1);

      path {
        fill: #f7fe70;
      }
    }
  }

  .tribe-filter-bar__filters-container {
    display: none;
  }

  .tribe-filter-bar {
    background-color: #071f5b;

    &.tribe-filter-bar.tribe-filter-bar--horizontal {
      padding: 0;
    }

    .tribe-filter-bar__selected-filters,
    .tribe-filter-bar__actions {
      display: none;
    }

    .tribe-filter-bar__filters-slider-wrapper {
      display: block;
    }

    .tribe-filter-bar-c-pill {
      width: 100%;
    }

    /* Zone filtre  */
    .tribe-filter-bar-c-filter__container {
      background-color: transparent;
      width: auto;
      z-index: 1 !important;
      padding-top: 31px;
      border-top: 1px solid #ffffff;
      margin: 0;
      padding-bottom: 13px;

      .tribe-filter-bar-c-filter__filter-fields {
        padding-left: 8px;
      }
    }

    .tribe-filter-bar__form {
      display: block;
    }

    .tribe-filter-bar-c-filter__container[aria-hidden="false"] {
      visibility: visible;
    }

    .tribe-filter-bar__filters-slider-nav {
      display: none;
    }
  }

  .tribe-filter-bar__filters-slider-container {
    visibility: visible;
    display: block;
    padding-top: 32px;
  }

  .tribe-filter-bar__filters-slider-wrapper {
    .tribe-filter-bar-c-pill__pill-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .tribe-filter-bar-c-pill__pill-label-colon,
    .tribe-filter-bar-c-pill__pill-selections {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  #agenda-list-header {
    .cover-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cover-title {
      margin-bottom: 0;
    }

    .tribe-events-header {
      flex-direction: row-reverse !important;
      column-gap: 80px;
      min-width: 510px;
      position: relative;
    }

    /* bouton filtre */
    .tribe-events-c-events-bar__filter-button-container {
      border: 0;
    }

    :is(.tribe-events-c-events-bar__filter-button-container.active) {
      border: 0;
      color: #f7fe70;
    }

    .tribe-filter-bar__filters-slider-wrapper {
      .tribe-swiper-slide {
        border-top: 1px solid #ffffff10;
        border-bottom: 1px solid #ffffff10;

        button {
          margin-bottom: 0;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .tribe-filter-bar-c-pill {
      display: flex;
      column-gap: 35px;

      button {
        padding-right: 32px !important;
        border-right: 1px solid #d9d9d910;
        min-width: 231px;
      }
    }

    .tribe-filter-bar__filters-slider-container {
      padding-left: 10px;
    }

    .tribe-filter-bar-c-filter__container {
      display: block;
      visibility: visible;
      border: 0;
      padding: 0 !important;
      border: 0 !important;
      display: grid !important;
      align-items: center;

      .tribe-filter-bar-c-filter__filters-legend,
      .tribe-filter-bar-c-filter__filters-close {
        display: none;
      }

      .tribe-filter-bar-c-filter__filter-fields {
        display: flex;
        column-gap: 32px;
        align-items: center !important;
      }
    }

    /* bouton calendrier */
    .tribe-events-c-top-bar__datepicker {
      position: relative;
      padding: 0;
      min-width: 509px;
      height: 40px;

      .choix-date-agenda {
        display: block;
        position: absolute;
        left: 0;
        margin-right: 20px;
        top: 13px;
        color: #ffffff;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .tribe-events-c-top-bar__datepicker-button {
        right: 0;
        top: 0;
        position: absolute;
        min-width: 328px;
        width: auto;
      }

      &::after {
        content: "";
        position: absolute;
        right: -40px;
        width: 2px;
        height: 38px;
        background-color: #d9d9d9;
      }
    }
  }
}
