// AGENDA

.agenda {
  display: grid;
  grid-template-columns: min(90vw , 1320px);
  place-content: center;
  padding-bottom: 41px;
  background: #f3f3f3;

  .agenda-title{
    margin-bottom: 48px;
  }

  .agenda-main{
    color: #ffff;
    text-align: center;
    padding: 50px;
    background-color: lightgreen;
  }
}