/* Buttons */

button,
.btn {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* btn-primary */

.btn-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 9px;

  &.btn-yellow {
    color: #000000;
    background-color: #f7fe70;
  }

  &.btn-blue {
    color: #ffff;
    background-color: #071f5b;
  }
}

/* Button site navigation Menu & billeterie */
:is(#site-header) .btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 40px;
  line-height: 24px;
  color: #000000;
  background-color: #f7fe70;
  font-weight: 700;
  font-size: 16px;

  a {
    &::after {
      display: none;
    }
  }
}

/* Bouton Telecharger le programme */
:is(#site-footer) .btn-primary {
  padding: 13px 30px;
  font-size: 14px;
}

/* btn-news-show-all articles */
.btn-news-show-all {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* To top btn */
.btn-to-top {
  color: #ffffff;
  opacity: 0.3;
  font-weight: 600;
  font-size: 12px;
  column-gap: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Select button */
.btn-select {
  border: 1px solid #000000;
  position: relative;

  &::after {
    content: url("../images/icons/icon-btn-select.svg");
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
  }

  select {
    appearance: none;
    margin-right: 100px;
    padding: 16px 18px;
    width: 100%;
    appearance: none;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* Boutton checkbox filtre Page agenda */

/* checkbox container */
.tribe-common-form-control-checkbox {
  margin-bottom: 32px !important;
  column-gap: 34px;
  align-items: center !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 1024px) {
  .tribe-common-form-control-checkbox {
    margin: 0 !important;
  }
}

/* input checkbox  -  */
input[type="checkbox"],
.tribe-common-form-control-checkbox__input {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 26px;
    height: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -5px;
    background-color: #ffffff;
    transition: left 0.4s ease;
  }

  & + label {
    color: #ffffff;
    opacity: 0.6;
    padding-top: 2px;
  }

  &:checked,
  &[aria-expanded="true"] {
    &::after {
      left: 15px;
      background-color: #f7fe70;
    }

    & + label {
      opacity: 1;
    }
  }
}

.tribe-filter-bar__filters-slider-wrapper {
  .tribe-swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 0;
    padding-block: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    position: relative;

    .tribe-filter-bar-c-pill__pill {
      padding: 0 !important;

      &::before {
        content: "+";
        position: relative;
        left: 0;
        font-size: 1.5rem;
        color: #ffffff;
      }

      span {
        margin-left: 22px;
      }
    }

    .tribe-filter-bar-c-pill__pill[aria-expanded="true"] {
      padding-bottom: 22px !important;

      &::before {
        content: "−";
      }
    }

    + .tribe-swiper-slide {
      border-top: 0;
    }
  }
}

@media (min-width: 1024px) {
  .tribe-filter-bar__filters-slider-wrapper {
    .tribe-swiper-slide {
      .tribe-filter-bar-c-pill__pill {
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          content: "" !important;
          position: absolute;
          left: 0;
          background-color: #d9d9d9;
          border-radius: 100px;
          width: 26px;
          height: 8px;
        }

        &::after {
          content: "";
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          left: -5px;
          background-color: #ffffff;
          transition: left 0.4s ease;
        }

        .tribe-filter-bar-c-pill__pill-label {
          opacity: 0.6;
        }

        &[aria-expanded="true"] {
          padding-bottom: 0;

          &::after {
            left: 15px;
            background-color: #f7fe70;
          }

          .tribe-filter-bar-c-pill__pill-label {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Props global - Bouton selection date (datepicker) et filtre  - Page Agenda  */
.tribe-events-c-top-bar__datepicker-button,
.tribe-events-c-events-bar__filter-button {
  padding: 12px 13px !important;
  border: 1px solid #ffffff !important;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  margin: 0 !important;
}

/* Bouton selection date datepicker */
.tribe-events-c-top-bar__datepicker-button {
  justify-content: space-between;
  flex: auto !important;
  column-gap: 20px;

  svg {
    display: block !important;

    /* calendar icon */
    &:first-child {
      width: 20px;
    }

    &:last-child {
      max-width: 8px;
    }
  }

  .datepicker-date-time {
    display: flex;
    align-items: center;

    time {
      flex: 1;
    }
  }
}

:is(.tribe-events-c-top-bar__datepicker-button--open) {
  border: 1px solid #f7fe70 !important;
  color: #f7fe70;

  ~ .tribe-events-c-top-bar__datepicker-container {
    min-height: 400px;
    position: relative;
    width: 100%;
    display: inline-block;
  }

  svg {
    path {
      fill: #f7fe70;
    }
  }
}

.datepicker-orient-bottom {
  width: 100%;
}

/* Bouton filtre - page Agenda */
.tribe-events-c-events-bar__filter-button {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  svg {
    width: 18px;
    height: 10px;
  }
}

:is(.tribe-events-c-events-bar__filter-button--active) {
  border: 1px solid #f7fe70 !important;
  color: #f7fe70;

  svg {
    transform: scaleY(-1);

    path {
      fill: #f7fe70;
    }
  }
}

@media (min-width: 1024px) {
  .tribe-events-c-top-bar__datepicker-button {
    .datepicker-date-time {
      time {
        flex: none;
      }
    }
  }

  .tribe-events-c-events-bar__filter-button {
    border: 0 !important;
  }
}

/* Bouton next prev Agenda seletor - Homepage block Agenda */
.tribe-events-pro-week-day-selector__prev,
.tribe-events-pro-week-day-selector__next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -43%);
  }

  svg {
    display: none;
  }
}

.tribe-events-pro-week-day-selector__prev {
  &::before {
    content: url("../img/icons/icon-arrow-left.svg");
  }
}

.tribe-events-pro-week-day-selector__next {
  background-color: #071f5b !important;

  &::before {
    content: url("../img/icons/icon-arrow-right.svg");
    filter: invert(1);
  }
}

@media (min-width: 1200px) {
  .tribe-events-pro-week-day-selector__prev,
  .tribe-events-pro-week-day-selector__next {
    width: initial;
    height: initial;
    border-radius: initial;
    background-color: initial !important;
  }

  .tribe-events-pro-week-day-selector__next {
    &::before {
      filter: invert(0);
    }
  }
}
