/* Buttons */

button,
.btn {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* btn-primary */

.btn-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 9px;

  &.btn-yellow {
    color: #000000;
    background-color: #f7fe70;
  }

  &.btn-blue {
    color: #ffff;
    background-color: #071f5b;
  }
}

:is(#site-header) .btn-yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 9px;
  color: #000000;
  background-color: #f7fe70;
}

:is(#site-footer) .btn-primary {
  padding: 13px 30px;
  font-size: 14px;
}

@media (min-width: 1440px) {
  :is(#site-header) .btn-yellow {
    padding: 13px 40px;
  }
}

/* btn-news-show-all articles */
.btn-news-show-all {
  width: 100%;
  font-size: 12px;
}

/* To top btn */
.btn-to-top {
  color: #ffffff;
  opacity: 0.3;
  font-weight: 600;
  font-size: 12px;
  column-gap: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Select button */
.btn-select {
  border: 1px solid #000000;
  position: relative;

  &::after {
    content: url("../images/icons/icon-btn-select.svg");
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
  }

  select {
    appearance: none;
    margin-right: 100px;
    padding: 16px 18px;
    width: 100%;
    appearance: none;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* Boutton checkbox filtre Page agenda */

/* checkbox container */
.tribe-common-form-control-checkbox {
  margin-bottom: 32px !important;
  column-gap: 34px;
  align-items: center !important;
}

@media (min-width: 1024px) {
  .tribe-common-form-control-checkbox {
    margin: 0 !important;
  }
}

/* input checkbox */
input[type="checkbox"],
.tribe-common-form-control-checkbox__input,
.tribe-swiper-slide button {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 100px;
    width: 26px;
    height: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -5px;
    background-color: #ffffff;
    transition: left 0.4s ease;
  }

  & + label {
    color: #ffffff;
    opacity: 0.6;
  }

  &:checked,
  &[aria-expanded="true"] {
    &::after {
      left: 15px;
      background-color: #f7fe70;
    }

    & + label {
      opacity: 1;
    }
  }
}
