// Contact-social block

.contact-social,
#custom_html-3 {
  padding-block: 20px;

  h4 {
    margin-bottom: 17px;
  }

  h5 {
    margin-bottom: 20px;
  }

  .contact-social-list {
    color: lightcoral;
    display: flex;
    align-items: center;
    column-gap: 27px;
  }
}

:is(.footer-grid) .contact-social-list img {
  filter: invert(1);
}
