/* Site navigation block */

#navigation-container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-top: clamp(
    28px,
    calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
    60px
  ); // 375vw to 1440px
  min-height: 0vw; // safari fix

  &.active {
    background-color: #071f5b;
  }

  .site-navigation {
    width: min(90vw, 1320px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding pour la version mobile*/
    &.toggled {
      padding-bottom: 80px;

      /* Zone button navigation mobile */
      .site-navigation-button {
        h2 {
          /* label Billeterie & menu */
          &:first-child {
            display: none;
          }
          /* label Fermer */
          &:nth-child(2) {
            display: block;
          }
        }
        button {
          &.menu-toggle {
            span {
              height: 0;

              &::before {
                transform: translateY(6px) rotate(45deg);
                top: -6px;
              }

              &::after {
                transform: translateY(-6px) rotate(-45deg);
                top: 6px;
              }
            }
          }
        }
      }
    }

    /* Site logo */
    .site-branding {
      a {
        display: inline-block;
        width: clamp(
          51px,
          calc(3.1875rem + ((1vw - 3.75px) * 1.8779)),
          71px
        ); // 51px (375px) to 71px (1440px)
        min-height: 0vw;

        .custom-logo {
          width: 100%;
        }
      }
    }

    /* Zone button navigation mobile */
    .site-navigation-button {
      display: flex;
      align-items: center;
      column-gap: 10px;

      h2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #f7fe70;
        padding-top: 8px;

        /* label Fermer */
        &:nth-child(2) {
          display: none;
        }
      }
      button {
        &.menu-toggle {
          background-color: #f7fe70;
          padding: 18px 10px;

          span {
            width: 18px;
            height: 2px;
            background-color: #071f5b;
            position: relative;

            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              width: 18px;
              height: 2px;
              background-color: #071f5b;
              transition: transform 0.4s ease;
            }

            &::before {
              top: -6px;
            }

            &::after {
              top: 6px;
            }
          }
        }
      }
    }

    #primary-menu {
      display: none;
    }

    /* toggled Primary menu actif */
    .toggled {
      .menu-principal-container {
        position: absolute;
        left: 0;
        top: 173px;
        width: 100vw;
        min-height: 10000px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: #000000;
          z-index: -1;
        }
      }

      #primary-menu {
        display: block;
        max-width: 90vw;
        width: 90vw;
        margin-inline: auto;
        padding: 67px 0 30px 0;
        position: relative;

        li {
          margin-bottom: 30px;
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }

          /* boutton billeterie nav mobile toggled */
          &.btn-yellow {
            position: absolute;
            left: 0px;
            top: 0;
            width: 90vw;
            transform: translate(0, -50%);

            a {
              font-weight: 700;
              color: #000000;
            }
          }

          /* primary menu separateur au 3eme li */
          &:nth-child(3) {
            position: relative;

            &::after {
              content: "";
              position: relative;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: #d9d9d920;
              display: block;
              margin-block: 30px;
            }
          }
        }
      }
    }
  }
}

:is(#site-header.spectacles, #site-header.edito) .site-navigation {
  width: min(90vw, 1320px);
  margin-inline: auto;
}

@media (min-width: 1200px) {
  #navigation-container {
    .site-navigation {
      /* button mobile */
      .site-navigation-button {
        display: none;
      }

      #primary-menu {
        display: flex;
        align-items: center;
        column-gap: clamp(
          20px,
          calc(1.25rem + ((1vw - 12px) * 8.3333)),
          40px
        ); // 20px (1200px vw) to 40px (1440px)
        min-height: 0vw; // safari fix
        font-weight: 600;
        font-size: 13px;
        line-height: 28px;

        /* primary menu ligne separator 3eme item au milieu*/
        & > :nth-child(3) {
          position: relative;
          padding-right: 20px;

          &::after {
            content: "";
            position: absolute;
            top: 3px;
            right: -10px;
            height: 20px;
            width: 1px;
            background-color: #d9d9d9;
          }
        }

        a {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -11px;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            opacity: 0;
            transition: opacity 0.4s ease;
          }

          &:hover,
          &.focus {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      /* loupe recherche */
      .cover-search {
        margin-left: 47px;
      }

      .btn-desktop-nav {
        margin-left: 44px;
      }
    }

    /*navigation sticky*/
    &.sticky {
      background-color: #071f5b;
      position: fixed;
      padding-block: 17px;

      .site-navigation {
        .custom-logo {
          width: auto;
          max-height: 56px;
          max-width: 40px;
        }
      }
    }
  }
}
