/* Site navigation block */

#navigation-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;

  &.active {
    background-color: #071f5b;
  }

  .site-navigation {
    width: min(90vw, 1320px);
    margin: 0 auto;
    padding-block: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding pour la version mobile*/
    &.toggled {
      padding-bottom: 80px;
    }

    /* Site logo */
    .site-branding {
      a {
        display: inline-block;
        width: clamp(
          51px,
          calc(3.1875rem + ((1vw - 3.75px) * 1.8779)),
          71px
        ); // 51px (375px) to 71px (1440px)
        min-height: 0vw;

        .custom-logo {
          width: 100%;
        }
      }
    }

    /* Zone button navigation maobile */
    .site-navigation-button {
      display: flex;
      align-items: center;
      column-gap: 10px;

      h2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #f7fe70;
      }
      button {
        &.menu-toggle {
          display: block;
          font-weight: 700;
          font-size: 16px;
          color: #000000;
          background-color: #f7fe70;
          padding: 12px 9px;
        }
      }
    }

    #primary-menu {
      display: none;
    }

    /* toggled Primary menu actif */
    .toggled {
      .menu-principal-container {
        position: absolute;
        left: 0;
        top: 173px;
        width: 100vw;
        min-height: 10000px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-color: #000000;
          z-index: -1;
        }
      }

      #primary-menu {
        display: block;
        max-width: 90vw;
        width: 90vw;
        margin-inline: auto;
        padding: 67px 0 30px 0;
        position: relative;

        li {
          margin-bottom: 30px;
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }

          /* boutton billeterie nav mobile toggled */
          &.btn-yellow {
            position: absolute;
            left: 0px;
            top: 0;
            width: 90vw;
            transform: translate(0, -50%);

            a {
              font-weight: 700;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

:is(#site-header.spectacles, #site-header.edito) .site-navigation {
  width: min(90vw, 1320px);
  margin-inline: auto;
}

:is(#site-header.spectacles) .site-navigation {
  margin-bottom: clamp(
    163px,
    calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
    211px
  ); // 375vw to 1440px
}

:is(#site-header.edito) .site-navigation {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  #navigation-container {
    .site-navigation {
      /* navigation- */

      /* button mobile */
      .site-navigation-button {
        display: none;
      }

      #primary-menu {
        display: flex;
        align-items: center;
        column-gap: clamp(
          20px,
          calc(1.25rem + ((1vw - 12px) * 8.3333)),
          40px
        ); // 20px (1200px vw) to 40px (1440px)
        min-height: 0vw; // safari fix
        font-weight: 400;
        font-size: 13px;

        /* primary menu separator 3eme item au milieu*/
        & > :nth-child(3) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: -5px;
            right: -20px;
            height: 20px;
            width: 1px;
            background-color: #d9d9d9;
          }
        }

        a {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            opacity: 0;
            transition: opacity 0.4s ease;
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }

        /* site navigation button billeterie */
        .btn-yellow {
          font-weight: 700;
          font-size: 16px;
          color: #000000;
          background-color: #f7fe70;
          padding: 13px 40px;
        }
      }

      /* loupe recherche */
      .cover-search {
        margin-left: 47px;
      }

      .btn-desktop-nav {
        margin-left: 44px;
      }
    }

    /*navigation sticky*/
    &.sticky {
      background-color: #071f5b;
      position: fixed;

      .site-navigation {
        .custom-logo {
          width: auto;
          max-height: 56px;
          max-width: 40px;
        }
      }
    }
  }
}
