/* Site navigation block */

#navigation-container {
  z-index: 1;
  position: relative;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #071f5b;
    z-index: 10;

    .site-navigation {
      width: 100%;
      max-width: 1320px; // Valeur à vérifier
      margin: 0 auto;
    }
  }
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-logo {
    img {
      width: clamp(
        51px,
        calc(3.1875rem + ((1vw - 3.75px) * 1.8779)),
        71px
      ); // 51px (375px) to 71px (1440px)
    }
  }

  .navigation-mobile {
    display: flex;
    align-items: center;
    column-gap: 10px;

    h3 {
      color: #f7fe70;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-top: 6px;
    }
  }

  .navigation {
    display: none;
  }
}

:is(#site-header.spectacles, #site-header.edito) .site-navigation {
  width: min(90vw, 1320px);
  margin-inline: auto;
  margin-bottom: clamp(
    163px,
    calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
    211px
  ); // 375vw to 1440px
}

@media (min-width: 1440px) {
  .site-navigation {
    .navigation-mobile {
      display: none;
    }

    /* navigation- */

    ul,
    .primary-menu {
      display: flex;
      align-items: center;
      column-gap: clamp(
        30px,
        calc(1.875rem + ((1vw - 12px) * 4.1667)),
        40px
      ); // 30px (1200px vw) to 40px (1440px)
      font-weight: 400;
      font-size: 13px;

      a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: 1px;
          background-color: #ffffff;
          opacity: 0;
          transition: opacity 0.4s ease;
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }

      /* site navigation button */
      .btn-yellow {
        font-weight: 700;
        font-size: 16px;
        color: #000000;
        background-color: #f7fe70;
        padding: 13px 40px;
      }
    }

    .nav-separator {
      width: 1px;
      height: 20px;
      background-color: #d9d9d9;
    }

    .cover-search {
      margin-left: 47px;
    }

    .btn-desktop-nav {
      margin-left: 44px;
    }
  }
}
