/* SLIDER */

.slider {
  display: grid;
  grid-template-columns: min(90vw, 1320px);
  place-content: center;
  min-height: 812px;
  background-image: url(../images/slider/slider.png);
  background-size: cover;
}

.slider-inner {
  color: #fff;
  font-weight: 700;
  display: flex;
  column-gap: 34px;
  align-items: center;

  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-40%, 0);
      top: -25px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding-block: 147px;

  .slider-main-item {
    margin-bottom: 40px;
    max-width: 217px;
    z-index: 0;

    label {
      font-size: clamp(24px, calc(1.5rem + ((1vw - 3.75px) * 2.6291)), 52px);
      /* 24px @ 375px increasing to 52px @ 1440px */
      min-height: 0vw; // safari fix
      font-weight: 700;
      line-height: 34px;
      position: relative;
      display: inline-block;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;
      opacity: 1;
    }

    input[type="checkbox"] {
      display: none;
    }

    li {
      margin-bottom: clamp(
        15px,
        calc(0.9375rem + ((1vw - 3.75px) * 0.4695)),
        20px
      );
      /* 15px @ 375px increasing to 20px @ 1440px */
      min-height: 0vw; // safari fix

      a {
        font-size: clamp(16px, calc(1rem + ((1vw - 3.75px) * 0.7512)), 24px);
        /* 16px @ 375px increasing to 52px @ 24px */
        line-height: 1.7;
        min-height: 0vw;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 1024px) {
  .slider-main {
    flex-direction: row;
    column-gap: 40px;

    .slider-main-item {
      margin-bottom: 0;
      position: relative;
      max-width: fit-content;

      label {
        opacity: 0.5;
        transition: opacity 0.4s ease;
        line-height: 64px;

        &:hover {
          opacity: 1;
        }
      }

      ul {
        opacity: 0;
        position: absolute;
        bottom: -150%;

        li {
          width: 60ch;
        }

        a {
          font-weight: 700;
          max-width: 80ch;
        }
      }
    }

    :is(.slider-main-item.active) {
      &:first-child {
        width: min-content;
      }

      &:last-child {
        ul {
          right: 0;
          text-align: right;
        }
      }

      label {
        opacity: 1;
      }

      input {
        & ~ ul {
          opacity: 1;
        }
      }
    }
  }
}
