/* VIDEO SAISONS*/

.video-saisons {
  background-color: #071f5b;
  color: #fff;
  z-index: 0;
  position: relative;

  .video-saisons-inner {
    position: relative;
    z-index: 10;
  }

  #video-home {
    min-height: 100vh;
  }

  .vs-logo,
  .vs-play,
  .vs-date {
    position: absolute;
    z-index: 99;
  }

  .vs-logo {
    width: 60px;
    top: 41px;
    left: 40px;
  }

  .vs-play {
    display: flex;
    align-items: center;
    column-gap: 13px;
    bottom: 44px;
    left: 37px;

    img {
      /* 32px @ 375px increasing to 40px @ 1440px */
      width: clamp(32px, calc(2rem + ((1vw - 3.75px) * 0.7512)), 40px);
      /* Safari resize fix */
      min-height: 0vw;
    }

    p {
      font-weight: 700;
      /* 24px @ 375px increasing to 36px @ 1440px */
      font-size: clamp(24px, calc(1.5rem + ((1vw - 3.75px) * 1.1268)), 36px);
      /* 3px @ 375px increasing to 8px @ 1440px */
      padding-top: clamp(3px, calc(0.1875rem + ((1vw - 3.75px) * 0.4695)), 8px);
      /* Safari resize fix */
      min-height: 0vw;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .vs-date {
    bottom: 33px;
    right: 30px;

    h3 {
      font-size: clamp(60px, calc(3.75rem + ((1vw - 3.75px) * 2.8169)), 90px);
      font-weight: 700;
      /* 54px @ 375px increasing to 80px @ 1440px */
      line-height: clamp(
        54px,
        calc(3.375rem + ((1vw - 3.75px) * 2.4413)),
        80px
      );
      /* Safari resize fix */
      min-height: 0vw;
    }
    // line-height: clamp(
    //   60px,
    //   calc(3.75rem + ((1vw - 3.75px) * 2.8169)),
    //   90px
    // ); // 375vw to 1440vw
    min-height: 0vw;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .video-saisons {
    display: grid;
    grid-template-columns: 1200px;
    justify-content: center;
    align-items: center;
    padding-block: 120px;

    #video-home {
      max-height: 720px;
    }

    .vs-logo,
    .vs-date {
      z-index: -10;
    }

    .vs-logo {
      width: 105px;
      left: -35px;
      top: -56px;
    }

    .vs-play {
      left: 40px;
      bottom: 40px;
    }

    .vs-date {
      right: -35px;
      bottom: -39px;
    }
  }
}
