/* Layout Page Agenda */

/* agenda-list-header */

#agenda-list-header {
  /* 265px @ 375px increasing to 370px @ 1440px */
  padding-top: clamp(
    265px,
    calc(16.5625rem + ((1vw - 3.75px) * 9.8592)),
    370px
  );
  /* Safari resize fix */
  min-height: 0vw;
  padding-bottom: 1.6em;

  .cover-details {
    width: min(90vw, 1320px);
    margin-inline: auto;
  }
}

/* calendrier article  */
.tribe-events-calendar-list {
  &.affiche {
    place-content: center;
    /* 30px @ 375px increasing to 64px @ 1440px */
    padding-block: clamp(
      30px,
      calc(1.875rem + ((1vw - 3.75px) * 3.1925)),
      64px
    ) !important;
    /* Safari resize fix */
    min-height: 0vw;
  }
}
