/* Layout Page Agenda */

/* agenda-list-header */

#agenda-list-header {
  /* 265px @ 375px increasing to 370px @ 1440px */
  padding-top: clamp(
    265px,
    calc(16.5625rem + ((1vw - 3.75px) * 9.8592)),
    370px
  );
  /* Safari resize fix */
  min-height: 0vw;
  /* 1.5625rem(25px) @ 23.4375rem(375px) increasing to 2.875rem(46px) @ 90rem(1440px) */
  padding-bottom: clamp(
    1.5625rem,
    calc(1.5625rem + ((1vw - 0.234375rem) * 1.9718)),
    2.875rem
  );
  /* Safari resize fix */
  min-height: 0vw;

  .cover-details {
    width: min(90vw, 1320px);
    margin-inline: auto;
  }

  .tribe-filter-bar {
    max-width: min(90vw, 1320px);
    margin-inline: auto;
    position: relative;
  }
}

/* calendrier article  */
.tribe-events-calendar-list {
  &.affiche {
    place-items: center;
    /* 0.0625rem(1px) @ 23.4375rem(375px) increasing to 4rem(64px) @ 90rem(1440px) */
    padding-top: clamp(
      0.0625rem,
      calc(0.0625rem + ((1vw - 0.234375rem) * 5.9155)),
      4rem
    );
    /* 30px @ 375px increasing to 64px @ 1440px */
    padding-bottom: clamp(
      30px,
      calc(1.875rem + ((1vw - 3.75px) * 3.1925)),
      64px
    ) !important;
    /* Safari resize fix */
    min-height: 0vw;
  }
}

@media (min-width: 640px) {
  /* calendrier article  */
  .tribe-events-calendar-list {
    &.affiche {
      place-items: unset;
    }
  }
}

@media (min-width: 1024px) {
  #agenda-list-header {
    .tribe-filter-bar {
      margin-top: 75px;
      margin-bottom: 0;
    }
  }

  .tribe-events-calendar-list {
    &.affiche {
      h2 {
        ~ article {
          background-color: lightpink;
        }
      }

      .tribe-event-calendar-list-group {
        display: flex;
        // column-gap: 183px;
        align-items: flex-start;

        h2 {
          flex: 1;
        }

        .tribe-event-calendar-list-group-main {
          flex: 2;
        }
      }
    }
  }
}
