/* Footer Layout */

#site-footer {
  display: grid;
  grid-template-columns: min(90vw, 1320px);
  justify-content: center;

  /* Grid column */

  .grid-column-left {
    grid-area: grid-column-left;

    .footer-zone-2 {
      padding-top: 0;
      padding-bottom: 0;
      border-top: 0;
    }
  }

  .grid-column-middle {
    grid-area: grid-column-middle;

    .footer-zone-3 {
      & > :first-child {
        padding-bottom: 20px;
      }

      #nav_menu-3 {
        padding-top: 20px;
        border-top: 1px solid #222;
      }
    }
  }

  .grid-column-right {
    grid-area: grid-column-right;

    .footer-zone-4 {
      #nav_menu-5 {
        padding-bottom: 20px;
      }

      #nav_menu-6 {
        padding-top: 20px;
        border-top: 1px solid #222;
      }
    }
  }

  /* Footer logo */

  .footer-logo {
    grid-area: footer-logo;
  }

  /* footer address */

  .address {
    grid-area: address;
  }

  /* contact email phone */

  .contact-phone-email {
    grid-area: contact-phone-email;
  }

  /* newsletter */

  .newsletter {
    grid-area: newsletter;
  }

  // contact-social

  .contact-social {
    grid-area: contact-social;
  }

  .programmation {
    grid-area: programmation;
  }

  .btn-programme {
    grid-area: btn-programme;
  }

  .mc2 {
    grid-area: mc2;
  }

  /* production */

  .production {
    grid-area: production;
  }

  /* public */

  .public {
    grid-area: public;
  }

  /* pratiue */

  .pratique {
    grid-area: pratique;
  }

  .user {
    grid-area: user;
  }

  /* cgv */

  .cgv {
    grid-area: cgv;
  }

  .mentions-legales {
    grid-area: mentions-legales;
  }
}

@media (min-width: 992px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "footer-logo grid-column-left grid-column-middle grid-column-right"
      "cgv cgv mentions-legales mentions-legales";
  }

  .grid-column-middle,
  .grid-column-right {
    .footer-item {
      border-top: 0;
      padding-block: 0;
    }
  }

  /* mention legales */
  .mentions-legales {
    padding-block: 34px;
    padding-left: 20px;

    #nav_menu-4 {
      #menu-menu-mentions {
        column-gap: 25px;
        display: flex;
      }
    }
  }
}

@media (min-width: 1440px) {
  .footer-grid {
    grid-template-columns: 225px 360px 360px 300px;
  }
}
