/* Header Layout */

#site-header {
  padding-top: clamp(
    28px,
    calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
    60px
  ); // 375vw to 1440px

  /* Site header de la homepage */

  &.homepage {
    min-height: 720px;
    display: grid;
    grid-template-columns: min(90vw, 1320px);
    justify-content: center;
    align-content: space-between;
    padding-top: clamp(
      28px,
      calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
      50px
    ); // 375vw to 1440px
    padding-bottom: clamp(
      33px,
      calc(2.0625rem + ((1vw - 3.75px) * 5.6338)),
      93px
    ); // 375vw to 1440px
  }

  /* Site header pages Spectacles Edito */

  &.spectacle {
    min-height: 1380px;
  }
}

@media (min-width: 1024px) {
  #site-header {
    /* Site header pages Spectacles */

    &.spectacles {
      min-height: 1080px;
    }
  }
}
