/* Header Layout */

#site-header {
  padding-top: clamp(
    28px,
    calc(1.75rem + ((1vw - 3.75px) * 3.0047)),
    60px
  ); // 375vw to 1440px

  /* Site header de la homepage */

  &.homepage {
    z-index: 1;
    min-height: 100px;
    height: 100vh;
    padding-top: 1em;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: min(90vw, 1320px);
    justify-content: center;
    align-content: space-between;
  }

  /* Site header pages Spectacles Edito */

  &.spectacle {
    min-height: 1380px;
  }
}

@media (min-width: 1024px) {
  #site-header {
    /* Site header pages Spectacles */

    &.spectacles {
      min-height: 1080px;
    }
  }
}
