/* Header Layout */

#site-header {
  position: relative;
  /* Site header de la homepage */

  &.homepage {
    z-index: 1;
    min-height: 100px;
    height: 100vh;
    // padding-top: 1em;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: min(90vw, 1320px);
    justify-content: center;
    align-content: space-between;
  }
}

@media (min-width: 1024px) {
  #site-header {
    /* Site header pages Spectacles */

    &.spectacles {
      min-height: 1080px;
    }
  }
}
