/* Site-header */

#site-header {
  color: #fff;
  background-color: #071f5b;
  /* Site header de la homepage */
  &.homepage {
    background-image: url("../images/header/header-cover-desktop.png");
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  #site-header {
    position: relative;
    /* Site header de la page spectacles */
    &.spectacles {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 120px;
        background-color: #ffff;
        bottom: 0px;
        z-index: 1;
      }

      .cover-piece-date-prix,
      .cover-thumbnail {
        z-index: 10;
      }
    }

    // Site header des pages edito
    &.edito {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 120px;
        background-color: #ffff;
        bottom: 0px;
        z-index: 1;
      }

      .cover-thumbnail {
        z-index: 10;
      }

      &.page-list {
        &::after {
          display: none;
        }
      }
    }
  }
}
